@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

* {
    margin: 0;
}

body {
    /*background: #defffb;*/
    font-family: 'Raleway', Helvetica, sans-serif;
}

h1 {
    color: #8a6115;
    text-align: center;
}

header {
    /*background: url(../images/logo.png) no-repeat 1% 0px;*/
    height: 108px;
    position: absolute;
}

header h1 {
    line-height: 3.2;
    display: inline-block;
    margin-left: 6%
}

em {
    font-weight: bold;
    color: #787898;
}

strong {
    color: #560a1a;
    font-size: 17px;
}

fieldset {
    border: 2px solid rgba(255, 255, 255, 0.19);
    border-radius: 25px;
}

.container,.f-left{
    width: 1024px;
    margin: 0 auto;
}

iframe {
    width: 1024px;
    height: 600px;
    margin: 20px auto;
}

.main-p {
    font-size: 18px;
}

.nav {
    /*background-color: #fff3d0; */
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    font-size: 18px;
    padding: 12px 3px;
    margin: 0 10px;
}

.nav li:last-child {
    border-right: none;
}

.nav li a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1.5px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.23);
    padding: 8px 16px;
    margin: 0 4px;
    background: rgba(255, 253, 253, 0.13);
    font-weight: bold;
}

.nav li a:hover{
    background-color: #544d48;
}
.submenu{
    display: none;

}
.nav li:hover .submenu{
    display: block;
    position: absolute;
    background: rgba(255, 253, 253, 0.13);
    margin-top: 10px;
    margin-left: -25px;
}

.nav li:hover .submenu li{
    display: block;
    
}

.nav,
header,
.banner,footer {
    width: 100%;
    margin: 0 auto;
}

.banner {
    height: 800px;
    background: black;
    overflow: hidden;
    background: url("../images/1.jpg") no-repeat;
    /* The least supported option. */
    background-size: cover;
}

.banner img {
    object-fit: cover;
    opacity: 0.4;
}

.banner h1 {
    color: #fff;
    letter-spacing: 4px;
    font-size: 5.5em;
    text-shadow: 2px 5px 3px rgb(0 0 0 / 27%);
    font-family: 'Tangerine', cursive;
    font-weight: bold;
}

.banner h2 {
    color: #fff;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 2px;
}

.banner p {
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 2px;
    margin: 2em auto;
    max-width: 700px;
}

.banner section {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.banner button {
    background: #e6ceb3;
    width: 150px;
    border: none;
    height: 45px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -21px;
    text-transform: uppercase;
}

.container h2 {
    font-size: 34px;
    line-height: 3;
}

.container p {
    padding: 0 0 30px;
}

.img1 {
    width: 45%;
    float: left;
}

.box {
    width: 45%;
    background: #f4f7c7;
    padding: 4px 30px;
    display: inline-block;
    min-height: 334px;
    box-shadow: 0px 17px 26px -28px rgb(0 0 0 / 41%);
    margin: 0 20px;
}

.box p{
  padding: 20px 0;
}

.box h3,.box li{
  line-height: 2;
}

.service{
  width: 100%;
  display: inline-block;
  clear: both;
  margin-bottom: 30px;
}

.area-box{
    padding: 50px 30px;
    margin: 40px 20px 10px 0;
    border-radius: 15px;
    background-color: var(--bg-color-2);
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 12%);
    width: 268px;
    display: block;
    float: left;
}

.area-box:last-child{
  margin-right: 0px;
}

.area-box i {
    font-size: 45px;
    color: #787898;
}

a.title-head {
    margin-top: 25px;
    display: block;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 15px;
    color: #9c510e;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 0;
}

.img-box {
  width: 230px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  display: inline-block;
  margin: 0 30px 20px 0;
}

.img-box:last-child{
    margin-right: 0;
}

.img-txt{
    padding: 15px 0;
}

.img-txt p{
    padding-bottom: 0;
}

footer{
  min-height: 150px;
  background: url(../images/f-bg.png) no-repeat rgb(51 51 51 / 16%);
  background-size: cover;
  margin-top: 30px;
}

.copy-footer{
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #000;
}

.main-social span{
    font-size: 25px;
    padding: 10px;
    color: #8a6115;
    margin-top: 15px;
}

.main-social,.log-wrap{
    width: 49%;
    display: inline-block;
    margin: 30px 0 20px;
}

.log-wrap{
    text-align: right;
}

.logo-2{
    font-family: 'Tangerine', cursive;
    font-size: 45px;
    font-weight: 400;
}
